* {
  padding: 0;
  margin: 0;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.tittle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #356EAD;
  font-family: Helvetica;
  opacity: 0.8;
}

.header {
  position: relative;
  width: 100%;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-nav-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-nav-container li {
  display: inline-block;
}

.logo-nav-container a {
  text-decoration: none;
  color: #303030;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.04em;
  font-weight: normal;
  display: block;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 0 0.5rem;
}

.logo-nav-container a:hover {
  color: #18175a;
  font-weight: bold;
}

.logo-nav-container .navigation {
  width: 365px;
}

.logo-nav-container .menu-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    width: 100%;
    background: white;
  }
  .logo-nav-container .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .logo-nav-container .navigation {
    width: 100%;
  }
  .logo-nav-container .navigation ul {
    display: none;
  }
  .logo-nav-container .navigation ul.show {
    display: block;
  }
  .logo-nav-container .navigation ul li {
    display: block;
  }
  .logo-nav-container .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    text-align: center;
  }
  .logo-nav-container .navigation ul li a:hover {
    background-color: #4c5756;
  }
}

.container {
  max-width: 1366px;
  margin: auto;
}

.container2 {
  margin: auto 5%;
}

.banner {
  height: 250px;
  width: 100%;
  position: relative;
}

.banner .bannertittle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner .content {
  text-align: center;
  width: 50%;
  color: white;
}

.banner .content h1 {
  font-weight: normal;
  font-size: 44px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.banner .content p {
  letter-spacing: 0.04em;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: justify;
}

@media (max-width: 600px) {
  .banner {
    height: 250px;
    width: 100%;
  }
  .banner .content {
    text-align: center;
    width: 80%;
    color: white;
  }
  .banner .content h1 {
    font-weight: normal;
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .banner .content p {
    letter-spacing: 0.04em;
    font-weight: normal;
    font-size: 1.0rem;
    text-align: justify;
  }
}

.search {
  margin-top: 56px;
}

.search .container_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  border-radius: 10px;
  height: 56px;
  padding: 0 27px;
}

.search img {
  margin-right: 10px;
}

.search input {
  border: none;
  background: none;
  width: 90%;
  height: 40%;
  -webkit-transition: .5s;
  transition: .5s;
}

.search input:hover {
  border: none;
  background: none;
  width: 90%;
  height: 60%;
  font-size: 20px;
}

.popular {
  height: 100%;
}

.popular .popupar-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 380px;
      grid-template-rows: 380px;
  grid-column-gap: 25px;
      grid-template-areas: "main-information main-image";
  padding-bottom: 50px;
}

.popular h2 {
  margin-top: 56px;
  margin-bottom: 34px;
}

.popular h3 {
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.popular p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: black;
  text-align: justify;
}

.popular img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main-image;
  width: 100%;
  height: 100%;
}

.popular .popuplar-information {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main-information;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.autor .information-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.autor h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.autor p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.4;
  margin-top: -5px;
}

.popular-secundary {
  margin-bottom: 5px;
  margin-top: 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
      grid-template-areas: "article1 article2 article3";
}

.popular-secundary .popular-secunday-article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: article1;
  padding-bottom: 50px;
}

.popular-secundary .popular-secunday-article2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: article2;
  padding-bottom: 50px;
}

.popular-secundary .popular-secunday-article3 {
  padding-bottom: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: article3;
}

.popular-secundary .popular-secunday-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
  height: 250px;
  text-align: justify;
}

.popular-secundary .article-tittle h3 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 10px;
}

.popular-secundary .article-tittle p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: black;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popular-secundary {
    margin-top: 33px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
        grid-template-areas: "article1 article2 article3";
  }
}

.footer {
  margin-top: 97px;
  position: relative;
  max-width: 1366px;
  margin: auto;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.footer .footer-top h3 {
  margin-bottom: 32px;
  display: inline-block;
  width: 310px;
  font-weight: normal;
  font-style: normal;
  font-family: Helvetica;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
}

.footer .footer-top p {
  width: 460px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: white;
  text-align: justify;
}

.footer .footer-top-btn {
  width: 150px;
  height: 50px;
  background-color: #5A98D0;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.footer .btn {
  padding-right: 100px;
}

.rectangle {
  z-index: -1;
  position: absolute;
  background-color: #316099;
  border-radius: 0 150px 0 0;
  height: 1019px;
  margin-right: 96px;
  top: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=main.css.map */